* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Anton", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(21, 24, 36);
}
#navbar {
  width: 100%;
  height: 60px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
#logo {
  width: 60px;
  height: auto;
  vertical-align: middle;
}
header ul {
  list-style-type: none;
  display: flex;
  padding-right: 40px;
}
header ul li {
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header ul li a #on-live-img {
  position: relative;
  width: 18px;
  height: 18px;
  left: -10px;
  top: 8px;
}
.off-screen-menu {
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}
.off-screen-menu ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
.off-screen-menu ul li {
  color: whitesmoke;
  display: block;
  margin: 35px;
}
.off-screen-menu.active {
  transform: translateX(0);
}
.ham-menu {
  height: 50px;
  width: 40px;
  cursor: pointer;
  top: 50%;
  right: 2%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1000;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
disable-scroll {
  overflow: hidden;
}
#live-content {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  background-color: black;
}

#live-content::before {
  position: absolute;
  background-image: url(img/nova-news3.jpg);
  background-size: cover;
  content: "";
  inset: 0;
  opacity: 0.17;
}
#live-content h1 {
  font-size: 65pt;
  color: white;
  text-align: center;
  isolation: isolate;
  padding-top: 225px;
  font-family: Anton, sans-serif;
  font-weight: 800;
}
#live-content h1 span {
  color: skyblue;
}
#live-content h2 {
  font-size: 40pt;
  color: WHITE;
  text-align: center;
  isolation: isolate;
  margin-top: -20px;
  font-family: Anton, sans-serif;
  font-weight: 10;
}
#live-content-but1 {
  display: block;
  isolation: isolate;
  background: none;
  height: 70px;
  width: 350px;
  border: 2px solid skyblue;
  border-radius: 30px;
  color: white;
  font-size: 30pt;
  font-family: Anton, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
}
#live-content-but1:hover {
  background-color: rgb(21, 24, 36);
  border: rgb(21, 24, 36);
  color: skyblue;
}
#live-content-but2 {
  display: block;
  isolation: isolate;
  background: none;
  height: 70px;
  width: 350px;
  background-color: rgb(21, 24, 36);
  border: rgb(21, 24, 36);
  border-radius: 30px;
  color: skyblue;
  font-size: 30pt;
  font-family: Anton, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}
#live-content-but2:hover {
  background: none;
  border: 2px solid skyblue;
  color: white;
}
#popular {
  width: 100%;
  height: 540px;
  background-color: white;
}
#popular-over {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5%;
  margin-left: 5%;
}
.popular-content {
  background-color: blue;
  height: 400px;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
}
.popular-content:hover > .content-div-text {
  background-color: white;
  border: solid 2px rgb(21, 24, 36);
  border-top: none;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: 0.5s;
}
.popular-content:hover {
  border-radius: 40px;
}
#popular-content-1 {
  background-image: url(img/ergenut.jpg);
  background-position: center -40px;
}
#popular-content-2 {
  background-image: url(img/sudeben\ spor.jpg);
  background-position: center -45px;
}
#popular-content-3 {
  background-image: url(img/angelov.jpg);
}
#popular-content-4 {
  background-image: url(img/manchev.jpeg);
}
.content-div-text {
  width: 100%;
  height: 35%;
  margin-top: 75%;
  background-color: skyblue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  color: rgb(21, 24, 36);
  font-family: Anton, sans-serif;
  font-weight: 800;
  font-size: 25pt;
}
.content-div-text h3 {
  position: relative;
  top: 20%;
}
#popular > h2 {
  color: rgb(21, 24, 36);
  font-family: Anton, sans-serif;
  font-weight: 800;
  font-size: 40pt;
  margin-left: 6%;
}

#sport {
  width: 100%;
  height: 450px;
  background-color: white;
}
#sport-over {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  gap: 5%;
  margin-left: 5%;
}
.sport-content {
  background-color: blue;
  height: 250px;
  margin-top: 20px;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.sport-content:hover > .content-div-text-sport {
  background-color: white;
  border: solid 2px rgb(21, 24, 36);
  border-top: none;
  color: rgb(21, 24, 36);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.5s;
}
.sport-content:hover {
  border-radius: 30px;
}
#sport-content-1 {
  background-image: url(img/football.jpg);
  background-position: 70% -40px;
}
#sport-content-2 {
  background-image: url(img/basketball.jpg);
  background-position: 80% -40px;
}
#sport-content-3 {
  background-image: url(img/volleyball.jpg);
}
#sport-content-4 {
  background-image: url(img/taeklondo.jpeg);
  background-position: 60% -20px;
}
#sport-content-5 {
  background-image: url(img/olimpiiski.jpg);
}
.content-div-text-sport {
  width: 100%;
  height: 35%;
  margin-top: 75%;
  background-color: rgb(21, 24, 36);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  color: white;
  font-family: Anton, sans-serif;
  font-weight: 800;
  font-size: 20pt;
}
.content-div-text-sport h3 {
  position: relative;
  top: 20%;
}
#sport > h2 {
  color: rgb(21, 24, 36);
  font-family: Anton, sans-serif;
  font-weight: 800;
  font-size: 40pt;
  margin-left: 6%;
}
#your-news {
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: rgb(21, 24, 36);
  color: white;
  font-family: Anton, sans-serif;
  font-weight: 800;
  font-size: 50pt;
  padding-top: 100px;
}
#your-news span {
  color: skyblue;
  font-size: 100pt;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#but-help {
  display: block;
  isolation: isolate;
  background: none;
  height: 120px;
  width: 600px;
  border: 2px solid white;
  border-radius: 30px;
  color: rgb(21, 24, 36);
  font-size: 45pt;
  font-family: Anton, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
  margin-top: 100px;
  background-color: white;
}
#but-help:hover {
  background-color: black;
  border: rgb(21, 24, 36);
  color: white;
  transition: 0.5s;
}
footer {
  height: 220px;
  background-color: #f7f7f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.footer-parts {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-parts h3 {
  margin-bottom: 6px;
  font-size: 20px;
  color: #1d1d1d;
}
.footer-parts ul li {
  font-size: 16px;
  color: #1d1d1d;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}
.footer-parts ul li:hover {
  color: skyblue;
}
#download-options {
  padding-top: 10px;
  text-align: center;
}
#download-options img {
  width: 110px;
  height: 34px;
}
#google-news {
  width: 220px;
  height: 40px;
  float: left;
  background-color: #e5e5e7;
  border-radius: 30px;
  border: none;
  margin-left: 40px;
  margin-right: 20px;
  cursor: pointer;
}
#google-news img {
  width: 22px;
  height: 18px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
#google-news h3 {
  width: 155px;
  float: right;
  margin-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
#social-media img {
  margin-left: 10px;
}
