* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Anton", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(21, 24, 36);
}
#navbar {
  width: 100%;
  height: 60px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
#navbar img {
  width: 60px;
  height: auto;
}
header ul {
  list-style-type: none;
  display: flex;
  padding-right: 40px;
}
header ul li {
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header ul li a #on-live-img {
  position: relative;
  width: 18px;
  height: 18px;
  left: -10px;
  top: 8px;
}
.off-screen-menu {
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}
.off-screen-menu ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
.off-screen-menu ul li {
  display: block;
  margin: 10px;
}
.off-screen-menu.active {
  transform: translateX(0);
}
.ham-menu {
  height: 50px;
  width: 40px;
  cursor: pointer;
  top: 50%;
  right: 2%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1000;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
main{
  padding-top: 40px;
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: grey;
}
main button{
  width: 100px;
  height: 80px;
  background-color: #dedee7;
  color: #3c3c3c;
  border: none;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
#program{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.firstSpan{
  color: #0099cc;
  font-weight: bold;
}
.program-list{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  float: left;
  width: 100%;
}
.program-list div{
  display: grid;
  grid-template-columns: 120px 3fr;
  width: 100%;
  height: 100px;
  background-color: #f7f7f9;
}
.program-list h1{
  width: 100%;
  color: #0099cc;
  margin-top: auto;
  margin-bottom: auto;
}
.program-list h3{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;
}
#firstDay{
  display: block;
}
#secondDay{
  display: none;
}
#thirdDay{
  display: none;
}
#fourthDay{
  display: none;
}
#fifthDay{
  display: none;
}
#sixthDay{
  display: none;
}
#seventhDay{
  display: none;
}
footer{
  height: 220px;
  background-color: #f7f7f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.footer-parts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-parts h3{
  margin-bottom: 6px;
  font-size: 20px;
  color: #1d1d1d;
}
.footer-parts ul li{
  font-size: 16px;
  color: #1d1d1d;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}
#download-options{
  padding-top: 10px;
  text-align: center;
}
#download-options img{
  width: 110px;
  height: 34px;
}
#google-news{
  width: 220px;
  height: 40px;
  float: left;
  background-color: #e5e5e7;
  border-radius: 30px;
  border: none;
  margin-left: 40px;
  margin-right: 20px;
}
#google-news img{
  width: 22px;
  height: 18px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
#google-news h3{
  width: 155px;
  float: right;
  margin-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
#social-media img{
  margin-left: 10px;
}